@media screen and (max-width:1000px) {
    .feedback .content-wrapper .name {
        margin-top: 40px;
    }
}
@media screen and (max-width:900px) {
    main {
        background: url(./images/pattern-bg.svg) no-repeat center;
        background-size: 100%;
        background-position: 65% 15%;
    }
    .container {
        width: 80%;
        height: 80%;
        margin-top: 80px;
        background:none;
    }
    .wrapper {
        flex-direction: column;
    }
    .wrapper .feedback {
        order: 2;
        margin-top: 50px;
        background: url(./images/pattern-quotes.svg) no-repeat;
        background-size: 15%;
        background-position: top center;
    }
    .wrapper .feedback , 
    .wrapper .img-of-user{
        width: 100%;
    }
    .feedback .content-wrapper .user-feedback {
        position: relative;
        text-align: center;
        margin-top: 40px;
        font-size: 400;
        font-size: 1.2em;
    }
    .feedback .content-wrapper .user-feedback {
        width: 100%;
    }
    .feedback .content-wrapper .name {
        position: relative;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1%;
    }
    .feedback .content-wrapper .name p:nth-child(2) {
        margin-top: -25px;
    }
    .wrapper .img-of-user img {
        border-radius: 5px;
    }
    .wrapper .img-of-user .button {
        transform: translate(-50%,-50%);
        left: 50%;
        top: 98%;
        width: 100px;
    }
    .img-of-user .button .btn-wrapper img {
        width: 10px;
        margin-left:12px;
        margin-right: 12px;
    }
}