@media screen and (max-width:700px) {
    main .title {
        width: 90%;
    }
    .title {
        flex-direction: column;
    }
    .title .app-name, 
    .title .toggle {
        width: 100%;
    }
    .title .toggle {
        margin-top: 25px;
        border-top: 1px solid hsl(230, 22%, 74%);
    }
    .toggle .wrapper {
        width: 100%;
        justify-content: space-between;
    }
    main .followers {
        width: 90%;
        height: 100%;
        margin-top: 20%;
        margin-bottom: 20%;
        flex-direction: column;
        gap: 20px;
    }
    .followers .follower-cards {
        width: 100%;
    }
    main .overview-title {
        width: 90%;
        margin-top: 1%;
    }
    
    main .overview {
        width: 90%;
        flex-direction: column;
    }
    .overview .overview-cards {
        width: 100%;
    }
    
}