@media screen and (max-width:900px) {
    .container {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box {
        width: 90%;
        height: 100%;
    }
    .container .five {
        order: 3;
    }
    .container .three {
        order: 5;
    }
}