
@media screen and (max-width:1000px) {
    .menu {
        width: 90%;
    } 
    .navigations ul li {
        padding: 3px;
    } 
    .navigations ul li a {
        font-size: 0.7em;
        font-weight: 500;
    } 
    .navigations ul .active a {
        font-weight: 600;
        font-size: 0.6em;
    }
    .insure h1 {
        font-size:3em;
    }

}
@media screen and (max-width:600px) {
     .navigations {
         display: none;
     }
     .hamburger-menu {
         display: flex;
     }
     .show {
         display: block;
     }
    .dropdown-menu .mobmenus {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
    }
    .dropdown-menu .mobmenus ul {
        flex-direction: column;
    }
    .dropdown-menu .mobmenus ul li {
        margin: 10px;
        height: 40px;
        width: 250px;
        margin-left: 0px;
    }
    .dropdown-menu .mobmenus ul li a {
        color: white;
        font-size: 1.3em;
    }
    .dropdown-menu .mobmenus ul .active {
        border: 2px solid white;
    }
    .container-two {
        background:linear-gradient(to bottom, hsl(256, 26%, 20%) 80%,hsl(256, 26%, 20%) 20%);
    }

    .content {
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .imgbox {
        order: 1;
        width: 100%;
        height: 400px;
        background-image: url(./images/image-intro-mobile.jpg);
        background-size: 100% 100%;
    }
    .imgbox img {
        display: none;
    }
    .insure {
        order: 2;
        width: 100%;
        border: none;
        text-align: center;
        
    }
    .container-three {
        margin-top: 40%;
    }



    
    .options {
        width: 100%;
        margin-top: -100px;
        border-image: linear-gradient(to right, white 15%, black 70%, white 15%);
        border-image-slice: 1;
    }
    .header {
        text-align: center;
    }
    .plans {
        flex-direction: column;
        gap: 10px;
    }
    .box {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .header h1 {
        font-size: 3em;
    }
    

    /* working code ******************************************************************** */ 

/* 
    .container-two {
        height: 180%;
        background: linear-gradient(to bottom, hsl(256, 26%, 20%)120%, hsl(256, 26%, 20%)20%);
    }
    .content {
        height: 100vh;
        width: 100%;
        margin-top: 0px;
        flex-direction: column;
    }
    .imgbox {
        width: 100%;
        height: 60%;
        order: 1;
        background-image: url(./images/image-intro-mobile.jpg);
    }
    .insure {
        width: 100%;
        height: 40%;
        order: 2;
        padding: 10px;
        text-align: center;
        border: none;
    }
    .insure h1 {
        font-size:3em;
    }
    .bgclip-one {
        top: 120%;
        background: url(./images/bg-pattern-intro-right-mobile.svg) top right no-repeat;
        background-size: 100% 75%;
        background-position-x:  50%;
        background-position-y:1%;
    }
    .options {
        width: 100%;
        margin-top: -100px;
        border-image: linear-gradient(to right, white 15%, black 70%, white 15%);
        border-image-slice: 1;
    }
    .header {
        text-align: center;
    }
    .plans {
        flex-direction: column;
        gap: 10px;
    }
    .box {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .header h1 {
        font-size: 3em;
    } */
}







