@media screen and (max-width:900px) {
    .menu {
        width: 90%;
    }   
}
@media screen and (max-width:700px) {
     .navigations {
         display: none;
     }
     .hamburger-menu {
         display: flex;
     }
     .show {
         opacity: 1;
     }
    .dropdown-menu .mobmenus {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
    }
    .dropdown-menu .mobmenus ul {
        flex-direction: column;
    }
    .dropdown-menu .mobmenus ul li {
        margin: 10px;
        height: 40px;
        width: 250px;
        margin-left: 0px;
    }
    .dropdown-menu .mobmenus ul li a {
        color: white;
        font-size: 1.3em;
    }
    .dropdown-menu .mobmenus ul .active {
        border: 2px solid white;
    }
    .violet-bg {
        height: 100%;
    }
    .flex-wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 0;
    }
    .flex-wrapper .about-insure ,
    .flex-wrapper .family-img {
        width: 100%;
        height: 50%;
    }
    .flex-wrapper .about-insure  {
        order: 2;
    }
    .flex-wrapper .family-img {
        order: 1;
        background: url(./images/image-intro-mobile.jpg) top no-repeat;
        background-size: 100% 170%;
    }
}