@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Fraunces:wght@700;900&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=M+PLUS+2:wght@300&family=Manrope:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Overpass:wght@100;300;600&family=Poppins:wght@400;600&family=Roboto+Slab:wght@300&family=Rubik:wght@300;400;500&family=Space+Mono&family=Spartan:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Fraunces:wght@700;900&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=M+PLUS+2:wght@300&family=Manrope:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Overpass:wght@100;300;600&family=Poppins:wght@400;600&family=Roboto+Slab:wght@300&family=Rubik:wght@300;400;500&family=Space+Mono&family=Spartan:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap');
body,html {
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}
main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.landing-page {
    width: 100%;
    height: 100vh;
    color: white;
    background:  url("images/bg-pattern-intro-desktop.svg") center no-repeat , linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: 200%;
    background-position-x: 30%;
    border-bottom-left-radius: 150px;
}
.menu-bar {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 8fr 4fr;
}
.title {
    font-size: 1.1em;
    font-weight: 700;
}
.title h2 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif; 
}
.menus {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.menu-options {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.navbar .dropdown {
    margin: 20px;
    font-size: 0.8em;
}
.dropdown p img {
    margin-left: 5px;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display: block;
}
.up {
    transform: rotate(180deg);
    transition: 0.4s ease;
}
.dropdown-content a {
    color: hsl(237, 17%, 21%);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    font-weight: 600;
}
.navbar .dropdown:hover p {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}
.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .log-options a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8em;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.login .log-options a.active {
    background-color: white;
    border-radius: 20px;
    color: hsl(353, 100%, 62%);
    font-weight: 600;
}
.login .log-options a.active:hover {
    background-color: rgba(207, 204, 204, 0.376);
    color: white;
    font-weight: 500;
}
.menu-btn {
    display: none;
}
.mobile-menu {
    display: none;
    color: black;
    position: absolute;
    width: 60%;
    height: 200px;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 350px;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    z-index: 100;
}

.mobile-menu .mob-drop {
    padding: 5px;
}
.mobile-menu .mob-drop p img {
    margin-left: 10px;
    margin-top: 6px;
    position: absolute;
}

.mob-log-options .option-wrapper {
    display: grid;
    width: 50%;
    margin: auto;
}
.mob-log-options a {
    padding: 20px;
    color: black;
    text-decoration: none;
}
.mob-log-options a.mob-active {
    color: white;
    font-weight: 700;
    background: linear-gradient(to right,hsl(356, 100%, 66%),hsl(355, 100%, 74%));
    border-radius: 30px;
}
.mob {
    display: none;
    position: relative;
    width: 80%;
    margin: auto;
    background-color: hsl(0, 7%, 89%);
}
.mob a {
    text-align: center;
}
.mob-show {
    display: block;
}
.platform {
    width: 70%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: -5%;
}
.platform section h1 {
    font-size: 3.5em;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}
.platform section p {
    margin-top: -4%;
    font-size: 1.2em;
}
.subscriptions {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.subscriptions button {
    width: 130px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: hsl(353, 100%, 62%);
    font-weight: 600;
    margin: 10px;
}
.subscriptions button:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.subscriptions button:nth-child(2):hover {
    background-color: white;
    color: hsl(353, 100%, 62%);
}
.subscriptions button:nth-child(1):hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.design {
    width: 100%;
    min-height: 700px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background: url("images/illustration-editor-desktop.svg") right no-repeat;
    background-size: 70% 95%;
    background-position: 180% 6px;
}
.design h2 {
    font-size: 2em;
    font-weight: 400;
    color: hsl(240, 10%, 16%);
    margin: 50px 50px;
}
.briefs {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.briefs .content {
    position: relative;
    width: 50%;
}
.briefs .one{
    display: none;
}
.briefs .one img{
    position: relative;
    width: 100%;
    height: 100%;
}
.briefs .content section {
    text-align: left;
    padding: 10px 10px;
}
.briefs .content section h3 {
    color: hsl(208, 49%, 24%);
    font-size: 1.3em;
}
.briefs .content section p {
    font-size: 0.9em;
    line-height: 1.7;
    color: hsl(207, 13%, 34%);
}
.state {
    position: relative;
    margin-top: 15%;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background: url("images/bg-pattern-circles.svg") left no-repeat;
    background-size: 55%;
    background-color: hsl(236, 22%, 30%);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.state .img {
    width: 50%;
    height: 100%;
}
.state .img img {
    width: 80%;
    height: 145%;
    margin-top: -90px;
    margin-left: 80px;
}
.state .con {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.state .con section {
    padding-right: 25%;
    color: white;
}
.state .con section h3 {
    font-size: 1.8em;
    font-weight: 500;
}
.state .con section p {
    font-size: 0.8em;
    line-height: 1.7;
}
.sample {
    height: 700px;
    margin-top: 30px;
    background: url("images/illustration-laptop-desktop.svg") right no-repeat;
    background-size: 65% 95%;
    background-position: -60% 5px;
    display: grid;
}

.sam-brief {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer {
    background-color: hsl(240, 10%, 16%);
    margin-top: 50px;
    border-top-right-radius: 100px;
}
footer .wrapper{
    margin-top: 2%;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: hsl(240, 2%, 79%);
}
footer .wrapper .last {
    width: 20%;
    height: 250px;
    margin: 10px 10px;
    text-align: left;
}
.footer-name section h2{
    margin-top: 5px;
    font-size: 1.6em;
    color: white;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif; 
}
.wrapper .last section h3 {
    font-size: 0.8em;
    font-weight: 600;
}
.last section ul {
    padding: 0;
    list-style-type: none;
}
.last section ul li {
    padding-top: 5px;
}
.last section ul li a {
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    font-size: 0.8em;
}
.last section ul li a:hover {
    text-decoration: underline;
}



