@media screen and (max-width:900px) {
    .container-main {
        width: 100%;
    }
    .price h1 {
        font-size: 3em;
        padding-bottom: 10px;
    }
    .price h1 .dollor {
        font-size: 30px;
        margin-top: 13px;
    }
}

@media screen and (max-width:700px) {
    .container-main {
        flex-direction: column;
        gap: 10px;
    }
    .card {
        width: 90%;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .card:nth-child(2) {
        padding-top: 70px;
        padding-bottom: 30px;
    }
}