@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=M+PLUS+2:wght@300&family=Manrope:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Poppins:wght@400;600&family=Roboto+Slab:wght@300&family=Rubik:wght@300;400;500&family=Space+Mono&family=Spartan:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Fraunces:wght@700;900&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=M+PLUS+2:wght@300&family=Manrope:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Poppins:wght@400;600&family=Roboto+Slab:wght@300&family=Rubik:wght@300;400;500&family=Space+Mono&family=Spartan:wght@500;700&display=swap');
* {
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    overflow-x: hidden;
}
main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.one {
    background-color: blanchedalmond;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.land {
    background: url("images/desktop/image-header.jpg") center no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.land h3 {
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 1.5em;
}
.land .menu {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 65%;
    align-items: center;
    padding: 20px;
}

.menus a{
    color: white;
    font-family: 'Barlow', sans-serif; 
    text-decoration: none;
    margin: 10px;
    font-size: 0.7em;
    font-weight:600;
}
.menus a.active {
    padding: 15px;
    color: black;
    border-radius: 30px;
    background-color: white;
    font-size: 0.8em;
}
.land h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.5em;
}
.land img {
    position: relative;
    margin: 0 auto;
}

.two {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgbox {
    width: 100%;
    height: 390px;
    display: grid;
    align-items: center;
}
.imgbox article {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
.imgbox article h3 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.7em;
}
.imgbox article p {
    font-size: 0.8em;
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
}
.imgbox article a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'Fraunces', serif;
}
.imgbox:nth-of-type(1) {
    background-color: hsl(0, 0%, 100%); 
}
.imgbox:nth-of-type(2) {
    background: url("images/desktop/image-transform.jpg") center no-repeat;
    background-size:contain;
    background-color: hsl(51, 100%, 49%);
}
.imgbox:nth-of-type(3) {
    background: url("images/desktop/image-stand-out.jpg") center no-repeat;
    background-size:contain;
    background-color: hsl(7, 99%, 70%);
}
.imgbox:nth-of-type(4) {
    background-color: hsl(0, 0%, 100%);
}
.imgbox:nth-of-type(5) {
    background: url("images/desktop/image-graphic-design.jpg") center no-repeat;
    background-size:contain;
    background-color:hsl(168, 34%, 73%);
}
.imgbox:nth-of-type(6) {
    background: url("images/desktop/image-photography.jpg") center no-repeat;
    background-size:contain;
    background-color:rgb(79, 204, 253);
}

.three {
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr;
}
.inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.people {
    width: 30%;
    height: 300px;
    background-color: rgb(144, 136, 134);
    margin: 10px;
}
.four {
    width: 100%;
    background-color: steelblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.four picture {
    width: 100%;
    height: 180px;
    background-color: turquoise;
}
.five {
    display: grid;
    grid-template-columns: 1fr;
}
.footer {
    width: 100%;
    height: 300px;
    background-color: goldenrod;
}

.four picture:nth-of-type(1){
    background-color: rgb(163, 159, 159);
}
.four picture:nth-of-type(2){
    background-color: rgb(184, 180, 180);
}
.four picture:nth-of-type(3){
    background-color: rgb(226, 216, 216);
}
.four picture:nth-of-type(4){
    background-color: rgb(121, 118, 118);
}



@media screen and (max-width:400px) {
    .two {
        grid-template-columns: 1fr;
    }
    .inner {
        flex-direction: column;
    }
    .people {
        margin:0;
        width: 100%;
    }
    .four {
        grid-template-columns: 1fr 1fr;
    }
}