.pledge-dialog {
    position: absolute;
    min-width: 53%;
    background-color: white;
    margin: auto;
    display: none;
    left: 50%;
    top: 500px;
    transform: translate(-50%,-50%);
    padding: 25px;
    border-radius: 10px;
    z-index: 51;
}
.pledge-dialog .close {
    display: flex;
    justify-content: end;
}
.pledge-dialog .close img:hover {
    cursor: pointer;
}
.pledge-dialog .close img {
    width: 20px;
}
.pledge-dialog .about-support p {
    font-size: 0.9em;
    color: var(--dark-gray);
}
.pledge-dialog .selection {
    width: 100%;
    /* height: 100px; */
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;
}
.selection .detail-box {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    /* background-color: yellowgreen; */
    display: flex;
    padding: 10px;
}
.selection .detail-box:hover {
    cursor: pointer;
}
.radio-btn {
    width: 10%;
    height: 50px;
    /* background-color: blueviolet; */
    position:relative;
    text-align: center;
}
.pledge-details {
    width: 70%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.pledge-details p:first-child {
    font-weight: 700;
}
.pledge-details p:nth-child(2) {
    font-weight: 400;
    color: var(--moderate-cyan);
}
.quan-left {
    width: 15%;
    height: 50px;
    text-align: right;
    /* background-color: aqua; */
}
.radio-btn input[type="radio"] {
    width: 25px;
    height: 25px;
}
.radio-btn input[type="radio"] {
    accent-color: rgb(12, 155, 147);
}
.pledge-details h3,p {
    margin-top: 5px;
}
.quan-left h3 {
    margin-top: 5px;
}
.quan-left h3 .left {
    font-weight: 100;
    color: var(--dark-gray);
}
.selection .content-box {
    margin-top: 20px;
    /* background-color: red; */
}
.selection .content-box .para {
    /* background-color: green; */
    margin-left: 11%;
    margin-right: 6%;
    text-align: left;
}
.selection .content-box .para p {
    font-size: 0.8em;
    color: var(--dark-gray);
}
.resquan {
    display: none;
    padding-left: 11%;
}
.resquan .left {
    font-weight: 100;
    color: var(--dark-gray);
}

.pay {
    display: none;
    padding: 20px;
    border-top: 1px solid rgb(218, 211, 211);
    /* background-color: red; */
    gap: 10px;
}
.pay p {
    width: 60%;
    /* background-color: green; */
}
.pay input {
    border: none;
    outline: none;
    border-radius: 20px;
}
.pay input[type="text"] {
    width: 20%;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'Commissioner', sans-serif;
    border: 1px solid rgb(209, 208, 208);
}
.pay input[type="submit"]{
    width: 20%;
    font-family: 'Commissioner', sans-serif;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 10px;
    background-color: var(--moderate-cyan);
}
.pay input[type="submit"]:hover {
    cursor: pointer;
}
.thank {
    width: 30%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 99;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.thank p {
    color: var(--dark-gray);
    font-size: 0.9em;
}
.thank button {
    border: none;
    outline: none;
    width: 30%;
    padding: 10px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--moderate-cyan);
    border-radius: 50px;
}
button:hover {
    cursor: pointer;
}