@media screen and (max-width:600px) {
    .top-menu {
        width: 100%;
    }
    .content-card {
        width: 90%;
    }
    .pledge-dialog {
        width: 70%;
        top: 600px;
    }
    .quan-left {
        display: none;
    }
    .radio-btn {
        width: 20%;
    }
    .pledge-details {
        width: 90%;
        display: block;
        line-height: 10px;
    }
    .resquan {
        display: block;
    }
    .pay {
        flex-wrap: wrap;
        text-align: center;
    }
    .pay p {
        width: 100%;
        text-align: center;
    }
    .pay input[type="text"],.pay input[type="submit"]  {
        width: 45%;
        margin: auto;
        padding: 15px;
        border-radius: 50px;
    }
    .thank {
        width: 50%;
    }
}
@media screen and (max-width:500px) {
    body {
        background-image: url("../images/image-hero-mobile.jpg");
    }
    .options {
        display: none;
    }
    .menu-btn {
        width: 50%;
        display: flex;
        padding-right: 30px;
        align-items: center;
        justify-content: flex-end;
    }
    .menu-btn .btn-box img {
        width: 20px;
        height: 18px;
        margin-top: 8px;
    }
    .title h2 {
        font-size: 1.9em;
    }
    .menu-show {
        display: block;
    }
    .bookmark {
        justify-content: center;
    }
    .bookmark button {
        width: 70%;
    }
    .bookmark button:nth-child(2) {
        display: none;
    }
    .bookmark img {
        display: block;
    }
    .logo {
        margin-top: -10%;
    }
    .counts {
        flex-direction: column;
        align-items: center;
    }
    .box {
        border: none;
        border-bottom: 1px solid rgb(190, 186, 186);
        text-align: center;
        padding-left: 0%;
    }
    .box:last-child {
        border-bottom: none;
    }
    .stand-name, .stand-price {
        align-items: flex-start;
        flex-direction: column;
        justify-content:baseline;
    }
    .stand-name p {
        margin-top: -10px;
    }
    .stand-price button {
        width: 80%;
    }
    .pledge-dialog {
        width: 90%;
        top: 600px;
    }
    .selection .content-box {
        margin-top: 25px;
    }
    .pay input[type="text"],.pay input[type="submit"]  {
        width: 45%;
        margin: auto;
        padding: 15px;
    }
    .thank {
        width: 80%;
    }

}