@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=M+PLUS+2:wght@300&family=Manrope:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Poppins:wght@400;600&family=Roboto+Slab:wght@300&family=Rubik:wght@300;400;500&family=Spartan:wght@500;700&display=swap');
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    color: white;
}
main{
    height: 100%;
    display: grid;
    place-items: center;
}
.wrapper{
    width: 65%;
    /* height: 70%; */
    /* background-color: white; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.item{
    height: 180px;
    background-color: rgb(231, 202, 84);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 30%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
}

.item .card{
    height: 80%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    background-image: url("images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 16%;
    background-size: 10%;
}
.item:nth-child(1){
    grid-row: span 2;
    height: 375px;
    align-items: start;
    background-color: hsl(235, 46%, 20%);
}
.item:nth-child(1) .card{
    background-color: hsl(246, 80%, 60%);
    background-image: none;
    height: 100%;
}
.item:nth-child(1) {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.item:nth-child(1) .card{
    grid-row: 1/2;
}
.item:nth-child(1) .units{
    grid-row: 2/3;
    height: 30%;
}
.units ul li {
    list-style-type: none;
    padding: 10px;
    margin-left: -30px;
    color: hsl(236, 100%, 87%);
}
.units ul li:hover {
    cursor: pointer;
}
.active{
    color: white !important;
}
.about{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.about .pic img{
    width: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
}
.about .name{
    margin-top: 10px;
}
.about .name p{
    font-size: 12px;
    color:hsl(236, 100%, 87%);
}
.about .name h2{
    margin-top: -5px;
    font-weight: 100;
}
.content{
    padding: 10px;
    padding-top: 0px;
    padding-left: 20px;
}
.content p{
    font-weight: 500;
    font-size: 15px;
}
.wrap h2{
    font-size: 35px;
    font-weight: 200;
}
.wrap .lastweek{
    position: relative;
    top: -20px;
    font-weight: 100;
    font-size: 10px;
    text-align: left;
    color: hsl(236, 100%, 87%);
}

.item:nth-child(2) {
    background-image: url('images/icon-work.svg');
    background-color: hsl(15, 100%, 70%);
}
.item:nth-child(3) {
    background-image: url('images/icon-play.svg');
    background-color: hsl(195, 74%, 62%);
}
.item:nth-child(4) {
    background-image: url('images/icon-study.svg');
    background-color: hsl(348, 100%, 68%);
}
.item:nth-child(5) {
    background-image: url('images/icon-exercise.svg');
    background-color: hsl(145, 58%, 55%);
}
.item:nth-child(6) {
    background-image: url('images/icon-social.svg');
    background-color: hsl(264, 64%, 52%);
}
.item:nth-child(7) {
    background-image: url('images/icon-self-care.svg');
    background-color: hsl(43, 84%, 65%);
}


@media screen and (max-width:800px) {
    .wrapper {
        width: 50%;
        grid-template-columns: 1fr;
    }
    .item:nth-child(1){
        height: 180px;
    }
    .item{
        height: 150px;
    }
    .about{
        padding-top: 10px;
        padding-left: 15px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .about .pic img{
        width: 50px;
    }
    .about .name{
        margin-top: -5px;
    }
    .about .name p{
        font-size: 12px;
    }
    .about .name h2{
        font-size: 25px;
    }
    .wrap{
        margin-top: -20px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
    .wrap h2{
        font-size: 30px;
        font-weight: 200;
    }
    .wrap .lastweek{
        font-size: 15px;
        grid-column: 3 /4;
        margin: auto;
        top: 0;
    }
    .item:nth-child(1) .units ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin:5px;
    }
    .units {
        margin-left: -20px;
    }
}
@media screen and (max-width:500px) {
    .wrapper {
        width: 70%;
    }
    .item{
        height: 130px;
    }
    .item:nth-child(1){
        height: 150px;
    }
    .item .card{
        background-position-y: 20%;
    }
    .wrap h2{
        font-size: 20px;
    }
    .wrap .lastweek{
        font-size: 10px;
    }
    .about .name{
        padding-left: 5px;
    }
    .about .name p{
        font-size: 12px;
    }
    .about .name h2{
        font-size: 20px;
    }
    .units ul li{
        font-size: 10px;
    }
}