@media screen and (max-width:700px) {
    .left-logo img {
        width: 150px;
        height: 30px;
    }
    .right-btn button {
        width: 100px;
        padding: 5px;
    }
    .landing-content {
        flex-direction: column;
    }
    .about-left,
    .right-img {
        width: 100%;
    }
    .right-img img {
        width: 100%;
        height: 100%;
    }
    .about-left .content p {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    .about-left .content {
        padding-right: 0px;
    }
    .about-left .content h1 {
        font-size: 1.6em;
    }
    .right-img {
        padding-top: 30px;
    }
    .wrapper {
        width: 50%;
        gap: 30px;
        flex-direction: column;
    }
    .left-val ,
    .right-val {
        width: 100%;
    }
    .val {
        justify-content: center;
    }
    .val img {
        align-self: center;
    }
    .insights .card {
        flex-direction: column;
    }
    .card section {
        width: 100%;
        order: 2;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
    }
    .card section h2 {
        font-size: 2em;
    }
    .card .img-box {
        width: 100%;
        order: 1;
    }
    .bg-clip-top {
        background: url(./images/bg-section-top-mobile-1.svg) top no-repeat;
        background-size: 100% 100%;
        top: -40%;
    }
    .bg-clip-bottom {
        background: url(./images/bg-section-bottom-mobile-1.svg) top no-repeat;
        background-size: 100% 100%;
        top: 100%;
    }
    .card-wrap:nth-child(3) {
        margin-top: 50%;
        margin-bottom: 100px;
    }
    .bgtwo-clip-top {
        height: 50%;
        top: -50%;
        background: url(./images/bg-section-top-mobile-2.svg) top no-repeat;
        background-size: 100% 100%;
    }
    .bgtwo-clip-bottom {
        height: 50%;
        top:100%;
        background: url(./images/bg-section-bottom-mobile-2.svg) top no-repeat;
        background-size: 100% 100%;
    }
    .part-four {
        margin-top: 60%;
        padding-bottom: 200px;
    }
    .wrap-con {
        width: 90%;
    }
    .wrap-con button {
        width: 70%;
    }
    .wrap-con h1 {
        font-size: 1.8em;
    }
    .footer-wrap {
        flex-direction: column;
        gap: 60px;
    }
    .footer-part-one,
    .footer-part-two {
        width: 100%;
    }
    .footer-part-one {
        order: 2;
    }
    input[type="text"] {
        width: 80%;
    }
    input[type="submit"] {
        width: 50%;
    }
    .input-set {
        flex-direction: column;
        align-items: flex-end;
    }
    .error {
        text-align: right;
    }
    .bgclip-footer {
        top: -19%;
        height: 20%;
        background: url(./images/bg-footer-top-mobile.svg) bottom no-repeat;
        background-size: 100% 80%;
    }
}