@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,body,main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(./images/bg-hero-desktop.svg) center no-repeat;
}
.topper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
}
.left-logo,
.right-btn {
    height: 100%;
    display: flex;
    align-items: center;
}
.left-logo {
    width: 70%;
}

.right-btn {
    width: 30%;
    justify-content: flex-end;
}

.right-btn button {
    width: 170px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    color: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
    background-color: white;
    box-shadow: 0px 2px 2px 2px hsla(322, 100%, 66%, 0.116);
    font-family: 'Poppins', sans-serif;
}
.right-btn button:hover {
    cursor: pointer;
    border: 2px solid hsl(321, 100%, 78%);
    box-shadow: 0px 4px 4px 4px hsla(322, 100%, 66%, 0.116)
}

.landing-content {
    width: 90%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.about-left {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.right-img {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.right-img img {
    width: 72%;
    height: 100%;
}
.about-left .content {
    padding: 30px 60px 0px 0px;
}
.about-left .content h1 {
    font-size: 2.3em;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.about-left .content p {
    font-weight: 500;
    color: hsl(192, 100%, 9%);
    padding-left: 28%;
    padding-right: 28%;
}
.about-left .content button {
    width: 270px;
    padding: 13px;
    border: none;
    outline: none;
    color: white;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(322, 100%, 65%);
}
.content button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.part-two {
    width: 100%;
    padding-bottom: 70px;
}
.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcoral; */
}
.left-val ,
.right-val {
    width: 50%;
}

.val {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.val p {
    font-size: 1em;
    margin-top: -40px;
}
.val h1 {
    font-size: 4em;
    margin-top: 5px;
}
.val img {
    margin-left: -20%;
}
.insights {
    width: 100%;   
}
.card-wrap {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    position: relative;
}
.insights .card {
    width: 90%;
    margin: auto;
    display: flex;
}
.card section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 160px;
    text-align: left;
    color: hsl(192, 100%, 9%);
}
.card section h2 {
    font-weight: 700;
    font-size: 2.2em;
}
.card section p {
    margin-top: -10px;
    font-weight: 500;
}
.card .img-box {
    width: 40%;
    height: 100%;
}
.img-box img {
    width: 100%;
    height: 100%;
}

.card-wrap:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    background-color: hsl(207, 100%, 98%);
}
.bg-clip-top,
.bg-clip-bottom {
    position: absolute;
    width: 100%;
}
.bg-clip-top {
    height: 40%;
    top: -30%;
    background: url(./images/bg-section-top-desktop-1.svg) top no-repeat;
}
.bg-clip-bottom {
    height: 30%;
    top: 95%;
    background: url(./images/bg-section-bottom-desktop-1.svg) top no-repeat;
}
.card-wrap:nth-child(2) {
    margin-top: 230px;
}
.card-wrap:nth-child(3) {
    margin-top: 20%;
    background-color: hsl(207, 100%, 98%);
}
.bgtwo-clip-top,
.bgtwo-clip-bottom {
    position: absolute;
    width: 100%;
    z-index: -1;
    background-size: 100% 100%;
}
.bgtwo-clip-top {
    height: 50%;
    top: -35%;
    background: url(./images/bg-section-top-desktop-2.svg) top no-repeat;
}
.bgtwo-clip-bottom {
    height: 50%;
    top:100%;
    background: url(./images/bg-section-bottom-desktop-2.svg) top no-repeat;
}
.part-four {
    width: 100%;
    margin-top: 15%;
    padding-bottom: 200px;
}
.wrap-con {
    width: 60%;
    margin: auto;
    text-align: center;
}
.wrap-con h1 {
    font-weight: 700;
    font-size: 2.5em;
}
.wrap-con button {
    width: 40%;
    padding: 22px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(322, 100%, 66%);
}
.wrap-con button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.part-five {
    width: 100%;
    margin-top: 20%;
    position: relative;
    padding-bottom: 100px;
    padding-top: 40px;
    background-color: hsl(192, 100%, 9%);
}
.footer-wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
}
.footer-part-one,
.footer-part-two {
    width: 40%;
}
.footer-part-one {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.fl {
    display: flex;
    align-items: center;
    gap: 15px;
}
.fl img {
    height: 25px;
    width: 25px;
}
.lorem {
    margin-top: -90px;
    font-size: 1.1em;
    padding-right: 80px;
}
nav {
    margin-top: 50px;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 15px;
}
nav a i {
    font-size: 2em;
}
nav a:first-child {
    margin-left: 0px;
}
nav a i:hover {
    color: aqua;
}
.footer-part-two {
    display: flex;
    flex-direction: column;
}
.news {
    font-size: 1.3em;
}
.tips {
    padding-right: 100px;
}
.input-set {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
input {
    border-radius: 3px;
}
input[type="text"] {
    width: 60%;
    border: none;
    outline: none;
    padding: 12px;
}
input[type="submit"] {
    width: 30%;
    padding: 9px;
    border: none;
    outline: none;
    color: white;
    font-size: 0.9em;
    background-color: hsl(322, 100%, 66%);
    font-family: 'Poppins', sans-serif;
}
input:hover {
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: hsl(321, 100%, 78%);
}   
.error p {
    color: hsl(0, 100%, 63%);
    font-size: 0.8em;
    font-weight: 600;
}
.bgclip-footer {
    position: absolute;
    top: -48%;
    width: 100%;
    height: 50%;
    z-index: -1;
    background: url(./images/bg-footer-top-desktop.svg) top no-repeat;
    background-size: 100% 100%;
}